.sign-in {
	height: 100vh;

	.wp-block-cover__inner-container {
		text-align: center;

		.logos{
			img {
				display: block;
				height: auto;
				margin: 0 auto 2rem;
			}

			img.primary {
				max-width: 80vw;
			}

			img.secondary {
				max-width: 72vw;
			}

			@include media-breakpoint-up(md) {
				img.primary {
					max-width: 400px;
				}

				img.secondary {
					max-width: 300px;
				}
			}
		}

		.form {
			background: rgba($white, .71);
			border-radius: 10px;
			display: inline-flex;
			flex-direction: column;
			padding: 1rem 1.5rem;
			margin-top: 2rem;
			//width: 400px;
			max-width: calc(100vw - #{$grid-gutter-width});

			@include media-breakpoint-up(md) {
				padding: 2rem 4rem;
				width: 400px;
			}

			.title, form {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}

			.login-username label, .login-password label {
				display: none;
			}

			input:not(#rememberme), .button:not(#rememberme) {
				width: 100%;
			}
			input:not(#rememberme) {
				color: $tertiary;
				padding: $input-padding-y $input-padding-x;
				width: 100%;
			}

			.button:not(#rememberme) {
				background: $primary;
				border: none;
				color: $white;
			}

			p {
				@include make-col(12);
			}

			.lost-password, .login-remember {
				//@include make-col(6);
			}

			.login-remember {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;

				label, .lost-password {
					text-align: left;
					width: 100%;
				}

				.lost-password {
					color: $black;
					order: 2;
					text-transform: none;
				}

				label {
					align-items: center;
					display: flex;
					margin-bottom: 1rem;
					margin-top: 0.5rem;

					input {
						margin-right: 4px;
					}
				}

				@include media-breakpoint-up(md) {
					flex-direction: row;

					label, .lost-password {
						width: 50%;
					}

					label {
						margin-bottom: 0;

					}

					.lost-password {
						text-align: right;
					}
				}
			}
		}
	}
}
