$spacing: .3rem;

.guestbook {
	table {
		max-width: 100%;

		th, td {
			text-align: center;
			vertical-align: middle;

			p {
				margin-bottom: 0;
			}
		}
	}

	.entry {
		&:not(:last-child) {
			border-bottom: 1px solid $tertiary;
			padding-bottom: 32px;
			margin-bottom: 32px;
		}

		.content, .author {
			display: inline;
		}

		.content {
			font-size: $display4-size;
			position: relative;
			padding-left: $spacing;
			padding-right: $spacing;

			&::before, &::after {
				position: absolute;
			}

			&::before {
				content: '"';
				left: -#{$spacing};
			}

			&::after {
				content: '"';
				right: -#{$spacing};
			}

			p {
				display: inline;
			}
		}

		.author {
			font-size: $font-size-base;
			padding-left: .75rem;
			margin-left: .75rem;
			position: relative;

			&::before {
				top: -3px;
				position: absolute;
			}

			&::before {
				content: '-';
				left: -#{$spacing*.2};
			}
		}
	}
}
