.sport-categories {
	a.category {
		pointer-events: none;
	}
}

select[multiple] {
	height: auto !important;
	padding: 8px;
	
	+ .components-input-control__suffix {
		display: none;
	}
}

.components-input-control__container select {
	min-height: 150px;
}