.sport-categories {
	margin: 0 auto;

	&, .category {
		color: $tertiary;
	}

	svg {
		height: 3rem;

		path, rect, polygon {
			fill: $tertiary;
		}
	}

	.sports-row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.category {
		@include make-col-ready();
		@include make-col(6);

		border: 1px solid $tertiary;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: calc($grid-gutter-width / 2);
		margin: 1rem 2%;
		text-align: center;
		text-decoration: none;

		&, svg {
			transition: color .1s linear, fill .1s linear, border-color .1s linear;
		}

		&:hover {
			border: 1px solid $primary;

			& {
				color: $primary;
			}

			svg {
				path, rect, polygon {
					fill: $primary;
				}
			}
		}

		.name {
			font-family: $btn-font-family;
			font-weight: $btn-font-weight;
			font-size: $btn-font-size;
			text-transform: uppercase;
		}
	}

	@include media-breakpoint-up(md) {
		width: 90%;

		.category {
			flex: 0 0 21%;
		max-width: 21%;
		}
	}
}
