.wp-block-cover.sport-heading {
  min-height: auto;
  padding: 0;
}
.wp-block-cover.sport-heading .row {
  align-items: center;
  justify-content: space-between;
}
.wp-block-cover.sport-heading .image img {
  max-width: 100%;
}
.wp-block-cover.sport-heading h1 {
  font-size: 3.7rem;
}
@media (min-width: 992px) {
  .wp-block-cover.sport-heading .image {
    max-width: 40%;
  }
  .wp-block-cover.sport-heading .title {
    max-width: 40%;
  }
}

.sport-categories {
  margin: 0 auto;
}
.sport-categories, .sport-categories .category {
  color: #AFAFAF;
}
.sport-categories svg {
  height: 3rem;
}
.sport-categories svg path, .sport-categories svg rect, .sport-categories svg polygon {
  fill: #AFAFAF;
}
.sport-categories .sports-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sport-categories .category {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
  border: 1px solid #AFAFAF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 1rem 2%;
  text-align: center;
  text-decoration: none;
}
.sport-categories .category, .sport-categories .category svg {
  transition: color 0.1s linear, fill 0.1s linear, border-color 0.1s linear;
}
.sport-categories .category:hover {
  border: 1px solid #DB0032;
}
.sport-categories .category:hover {
  color: #DB0032;
}
.sport-categories .category:hover svg path, .sport-categories .category:hover svg rect, .sport-categories .category:hover svg polygon {
  fill: #DB0032;
}
.sport-categories .category .name {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .sport-categories {
    width: 90%;
  }
  .sport-categories .category {
    flex: 0 0 21%;
    max-width: 21%;
  }
}

.sport-info .row {
  align-items: center;
}
.sport-info .intro .tax_equipment {
  background: #F0F0F0;
  color: #000;
  font-weight: 600;
  padding: 1.2rem 1.5rem;
}
.sport-info .intro .tax_equipment .label {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .sport-info .intro .tax_equipment .label {
    font-size: calc(1.3125rem + 0.75vw);
  }
}
.sport-info .intro .tax_equipment ul {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .sport-info .intro .description, .sport-info .intro .block {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.sport-info .posts {
  padding-top: 2rem;
}
.sport-info .posts .post:not(:last-child) {
  border-bottom: 1px solid #AFAFAF;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.sport-info .posts .post .title, .sport-info .posts .post .block .label {
  line-height: 1;
  text-transform: uppercase;
}
.sport-info .posts .post .title {
  font-size: 1.875rem;
}
@media (max-width: 1200px) {
  .sport-info .posts .post .title {
    font-size: calc(1.3125rem + 0.75vw);
  }
}
.sport-info .posts .post .block .label {
  font-size: 1.25rem;
}
.sport-info .posts .post .points {
  color: #DB0032;
  font-weight: 400;
}
.sport-info .posts .post .info.row {
  align-items: stretch;
  justify-content: space-between;
  margin: 2rem 0;
}
.sport-info .posts .post .materials_needed, .sport-info .posts .post .additional_tips {
  margin-top: 1rem;
  padding: 1rem;
}
.sport-info .posts .post .materials_needed {
  background: #F0F0F0;
}
.sport-info .posts .post .additional_tips {
  border: 2px solid #F0F0F0;
}
.sport-info .posts .post .add-sport.btn {
  margin-top: 2rem;
}
.sport-info .posts .post .block {
  align-items: stretch;
  border: 2px solid #DB0032;
  display: flex;
}
.sport-info .posts .post .block .inner {
  padding: 1rem;
}
.sport-info .posts .post .block .label {
  margin-bottom: 2rem;
}
.sport-info .posts .post .block ul {
  list-style-type: none;
  padding-left: 1rem;
}
.sport-info .posts .post .block ul li {
  position: relative;
}
.sport-info .posts .post .block ul li:not(:last-child) {
  padding-bottom: 1rem;
}
.sport-info .posts .post .block ul li:before {
  content: "-";
  left: -1rem;
  position: absolute;
}
.sport-info .posts .post .content, .sport-info .posts .post .media {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.sport-info .posts .post .media img, .sport-info .posts .post .media iframe, .sport-info .posts .post .media figure {
  width: 100%;
}
@media (min-width: 992px) {
  .sport-info .posts .post .content, .sport-info .posts .post .media {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sport-info .posts .post .block {
    max-width: 300px;
  }
}

.wp-block-cover.page-heading {
  min-height: 0;
}
.wp-block-cover.page-heading .wp-block-cover__inner-container {
  text-align: center;
}
.wp-block-cover.page-heading .entry-title {
  font-size: 40px;
  margin: 0;
}
.wp-block-cover.has-background-dim:before {
  content: none;
}

.guestbook table {
  max-width: 100%;
}
.guestbook table th, .guestbook table td {
  text-align: center;
  vertical-align: middle;
}
.guestbook table th p, .guestbook table td p {
  margin-bottom: 0;
}
.guestbook .entry:not(:last-child) {
  border-bottom: 1px solid #AFAFAF;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
.guestbook .entry .content, .guestbook .entry .author {
  display: inline;
}
.guestbook .entry .content {
  font-size: 20px;
  position: relative;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.guestbook .entry .content::before, .guestbook .entry .content::after {
  position: absolute;
}
.guestbook .entry .content::before {
  content: '"';
  left: -0.3rem;
}
.guestbook .entry .content::after {
  content: '"';
  right: -0.3rem;
}
.guestbook .entry .content p {
  display: inline;
}
.guestbook .entry .author {
  font-size: 14px;
  padding-left: 0.75rem;
  margin-left: 0.75rem;
  position: relative;
}
.guestbook .entry .author::before {
  top: -3px;
  position: absolute;
}
.guestbook .entry .author::before {
  content: "-";
  left: -0.06rem;
}

.sign-in {
  height: 100vh;
}
.sign-in .wp-block-cover__inner-container {
  text-align: center;
}
.sign-in .wp-block-cover__inner-container .logos img {
  display: block;
  height: auto;
  margin: 0 auto 2rem;
}
.sign-in .wp-block-cover__inner-container .logos img.primary {
  max-width: 80vw;
}
.sign-in .wp-block-cover__inner-container .logos img.secondary {
  max-width: 72vw;
}
@media (min-width: 768px) {
  .sign-in .wp-block-cover__inner-container .logos img.primary {
    max-width: 400px;
  }
  .sign-in .wp-block-cover__inner-container .logos img.secondary {
    max-width: 300px;
  }
}
.sign-in .wp-block-cover__inner-container .form {
  background: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  max-width: calc(100vw - 30px);
}
@media (min-width: 768px) {
  .sign-in .wp-block-cover__inner-container .form {
    padding: 2rem 4rem;
    width: 400px;
  }
}
.sign-in .wp-block-cover__inner-container .form .title, .sign-in .wp-block-cover__inner-container .form form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sign-in .wp-block-cover__inner-container .form .login-username label, .sign-in .wp-block-cover__inner-container .form .login-password label {
  display: none;
}
.sign-in .wp-block-cover__inner-container .form input:not(#rememberme), .sign-in .wp-block-cover__inner-container .form .button:not(#rememberme) {
  width: 100%;
}
.sign-in .wp-block-cover__inner-container .form input:not(#rememberme) {
  color: #AFAFAF;
  padding: 0.375rem 0.75rem;
  width: 100%;
}
.sign-in .wp-block-cover__inner-container .form .button:not(#rememberme) {
  background: #DB0032;
  border: none;
  color: #fff;
}
.sign-in .wp-block-cover__inner-container .form p {
  flex: 0 0 100%;
  max-width: 100%;
}
.sign-in .wp-block-cover__inner-container .form .login-remember {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign-in .wp-block-cover__inner-container .form .login-remember label, .sign-in .wp-block-cover__inner-container .form .login-remember .lost-password {
  text-align: left;
  width: 100%;
}
.sign-in .wp-block-cover__inner-container .form .login-remember .lost-password {
  color: #000;
  order: 2;
  text-transform: none;
}
.sign-in .wp-block-cover__inner-container .form .login-remember label {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.sign-in .wp-block-cover__inner-container .form .login-remember label input {
  margin-right: 4px;
}
@media (min-width: 768px) {
  .sign-in .wp-block-cover__inner-container .form .login-remember {
    flex-direction: row;
  }
  .sign-in .wp-block-cover__inner-container .form .login-remember label, .sign-in .wp-block-cover__inner-container .form .login-remember .lost-password {
    width: 50%;
  }
  .sign-in .wp-block-cover__inner-container .form .login-remember label {
    margin-bottom: 0;
  }
  .sign-in .wp-block-cover__inner-container .form .login-remember .lost-password {
    text-align: right;
  }
}

.profile .wp-block-cover__inner-container {
  z-index: auto;
  z-index: initial;
}
.profile .d-flex {
  width: 100%;
}
.profile .nav-pills, .profile .tab-content {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.profile .nav-pills a {
  color: #950526;
}
.profile .tab-content .tab-pane {
  width: 100%;
}
@media (max-width: 991.98px) {
  .profile .d-flex {
    flex-direction: column;
  }
  .profile table {
    margin-top: 3rem;
  }
  .profile .tab-content {
    border-top: 1px solid #950526;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  .profile .nav {
    flex-direction: row !important;
  }
}
@media (min-width: 992px) {
  .profile .nav-pills {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .profile .tab-content {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.profile table {
  max-width: 100%;
}
.profile table img {
  max-width: 100%;
}
.profile table th, .profile table td {
  text-align: center;
  vertical-align: middle;
}
.profile table th p, .profile table td p {
  margin-bottom: 0;
}
.profile .links a {
  display: inline;
}
.profile .activity .btn-modal {
  width: 75px;
  padding: 0 !important;
}
.profile .activity .btn-modal.image {
  position: relative;
  text-align: right;
}
.profile .activity .btn-modal.image .fas.fa-search-plus {
  font-size: 1rem;
  opacity: 0.5;
}
.profile .activity .btn-modal .fa, .profile .activity .btn-modal .fas {
  color: #950526;
  font-size: 2rem;
}
.profile .activity .btn-modal img {
  width: 100%;
}
.profile .activity .modal video {
  height: auto;
  max-width: 100%;
  width: 90vw;
}
.profile .activity .modal img {
  margin: auto;
  max-height: 80vh;
  min-width: 50vw;
  max-width: 76vw;
  width: auto;
}
.profile .activity .modal .fa, .profile .activity .modal .fas {
  display: none;
}
ul.password-requirements .valid {
  text-decoration: line-through;
}

.redirect-required .wp-block-cover__inner-container.row {
  display: block;
}
