.profile {
	.wp-block-cover__inner-container {
		z-index: initial;
	}
	.d-flex {
		width: 100%;
	}

	.nav-pills, .tab-content {
		@include make-col-ready();
		@include make-col(12);
	}

	.nav-pills {
		a {
			color: $secondary;
		}
	}

	.tab-content {
		.tab-pane {
			width: 100%;
		}
	}

	@include media-breakpoint-down(md) {
		.d-flex {
			flex-direction: column;
		}
		table {
			margin-top: 3rem;
		}

		.tab-content {
			border-top: 1px solid $secondary;
			margin-top: 2rem;
			padding-top: 2rem;
		}
		.nav {
			flex-direction: row !important;
		}
	}

	@include media-breakpoint-up(lg) {
		.nav-pills {
			@include make-col(3);
		}

		.tab-content {
			@include make-col(9);
		}
	}

	table {
		max-width: 100%;

		img {
			max-width: 100%;
		}

		th, td {
			text-align: center;
			vertical-align: middle;

			p {
				margin-bottom: 0;
			}
		}
	}
	
	.links {
		a {
			display: inline;
		}
	}

	.activity {
		tbody tr:nth-of-type(odd) {
			.btn-modal.image {
				.fas.fa-search-plus {
					//background-color: $table-accent-bg;
				}
			}
		}

		.btn-modal {
			width: 75px;
			padding: 0 !important;

			&.image {
				position: relative;
				text-align: right;

				.fas {
					//left: 50%;
					//position: absolute;
					//transform: translate(-50%, -50%);
					//top: 50%;

					&.fa-search-plus {
						//background-color: $body-bg;
						font-size: 1rem;
						opacity: 0.5;
					}
				}
			}

			.fa, .fas {
				color: $secondary;
				font-size: 2rem;
			}

			img {
				width: 100%;
			}
		}


		.modal {
			//z-index: 1072;
			video {
				height: auto;
			    max-width: 100%;
				width: 90vw;
			}

			img {
			    margin: auto;
				max-height: 80vh;
			    min-width: 50vw;
			    max-width: 76vw;
			    width: auto;
			}

			.fa, .fas {
				display: none;
			}
		}
		.modal-backdrop {
			//z-index: 1071;
		}
	}
}


ul.password-requirements {
	.valid {
		text-decoration: line-through
	}
}
