.wp-block-cover {
	&.page-heading {
		min-height: 0;

		.wp-block-cover__inner-container {
			text-align: center;
		}

		.entry-title {
			font-size: $h2-font-size;
			margin: 0;
		}
	}

	&.has-background-dim {
		&:before {
			content: none;
		}
	}
}