@import "activity-heading/style";
@import "activity-categories/style";
@import "activity-info/style";

@import "page-heading/style";

@import "guestbook/style";

@import "user-register/style";
@import "user-set-user-data/style";
@import "user-sign-in/style";
@import "user-profile/style";

.redirect-required {
	.wp-block-cover__inner-container.row {
		display: block;
	}
}