.sport-info {
	.row {
		align-items: center;
	}

	.intro {
		.tax_equipment {
			background: $quaternary;
			color: $black;
			font-weight: 600;
			padding: 1.2rem 1.5rem;

			.label {
				@include font-size($display3-size);
				line-height: $display-line-height;
				margin-bottom: $headings-margin-bottom*2;
			}
			
			ul {
				margin-bottom: 0;
			}
		}

		@include media-breakpoint-down(md) {
			.description, .block {
				@include make-col(12);
			}
		}
	}

	.posts {
		padding-top: 2rem;

		.post {
			&:not(:last-child) {
				border-bottom: 1px solid $tertiary;
				margin-bottom: 2rem;
				padding-bottom: 2rem;
			}

			.title, .block .label {
				line-height: 1;
				text-transform: uppercase;
			}

			.title {
				@include font-size($display3-size);
			}

			.block .label {
				@include font-size($display4-size);
			}

			.points {
				color: $primary;
				font-weight: 400;
			}

			.info.row {
				align-items: stretch;
				justify-content: space-between;
				margin: 2rem 0;
			}

			.materials_needed, .additional_tips {
				margin-top: 1rem;
				padding: 1rem;
			}

			.materials_needed {
				background: $quaternary;
			}

			.additional_tips {
				border: 2px solid $quaternary;
			}

			.add-sport.btn {
				margin-top: 2rem;
			}

			.block {
				align-items: stretch;
				border: 2px solid $primary;
				display: flex;

				.inner {
					padding: 1rem;
				}

				.label {
					margin-bottom: 2rem;
				}

				ul {
					list-style-type: none;
					padding-left: 1rem;

					li {
						position: relative;

						&:not(:last-child) {
							padding-bottom: 1rem;
						}

						&:before {
							content: '-';
							left: -1rem;
							position: absolute;
						}
					}
				}
			}

			.multi-collapse {
				//position: relative;
				//height: 400px;

				.make-form {
					//position: absolute;
				}
			}

			.content, .media {
				@include make-col-ready();
				@include make-col(12);
			}

			.media {
				img, iframe, figure {
					width: 100%;
				}
			}

			@include media-breakpoint-up(lg) {
				.content, .media {
					@include make-col(6);
				}

				.block {
					max-width: 300px;
				}
			}
		}
	}
}