.wp-block-cover.sport-heading {
	min-height: auto;
	padding: 0;

	.row {
		align-items: center;
		justify-content: space-between;
	}

	.image {
		img {
			max-width: 100%;
		}
	}

	h1 {
		font-size: 3.7rem;
	}

	@include media-breakpoint-up(lg) {
		.image {
			max-width: 40%;
		}
		.title {
			max-width: 40%
		}
	}
}
